.wrapper {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  min-width: 100px;
  padding: 6px 8px;
  border: 1px solid transparent;

  + .wrapper {
    margin-left: 16px;
  }
}

.primary {
  background-color: rgba(254, 44, 85, 1);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
      rgb(254, 44, 85);
  }
}

.outline {
  border: 1px solid rgb(255, 59, 92);
  color: rgb(255, 59, 92);
  // border-color: rgb(255, 59, 92);
  background-color: rgba(255, 255, 255, 0.08);

  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.text {
  min-width: 110px;
  padding: 0px 16px;
  height: 36px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.08);

  &:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }
}

.small {
  min-width: 88px;
  padding: 0px 10px;
  min-height: 28px;
  font-weight: 600;
  top: 28px;
  right: 0px;
  box-sizing: border-box;
}

.large {
  min-width: 168px;
  min-height: 48px;
  font-weight: 600;
  padding: 6px 8px;
}

.icon {
  position: relative;
  cursor: pointer;
  font-style: normal;
  padding: 0 4px;
  width: 20px;
  height: 28px;
}
