.wrapper {
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.12);
  padding-right: 24px;
  // padding-left: 16px;
  // display: flex;
  // justify-content: center;

  .inner {
    height: 100%;
    // width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 170px;
      height: var(--default-layout-header-height);
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .search-result,
    .search {
      width: 500px;
    }

    .search-result {
      .search-title {
        height: 30px;
        padding: 5px 12px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .search {
      position: relative;
      height: 46px;
      padding: 12px 16px;
      display: flex;
      background: rgba(255, 255, 255, 0.12);
      border-radius: 92px;
      border: 1px solid transparent;

      flex-direction: row;
      align-items: center;
      position: relative;
      overflow: hidden;
      z-index: 1;
      margin: 0;

      ::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }

      input {
        height: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        border: none;
        background: transparent;
        outline: none;
        padding: 0;
        width: 431px;
        color: rgba(255, 255, 255, 0.9);
        caret-color: rgba(255, 59, 92, 1);

        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        cursor: text;
        margin: 0em;
      }

      .clear,
      .loading {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.32);
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        cursor: default;

        svg {
          fill: rgba(255, 255, 255, 0.34);
          margin: 0px 12px;
        }
      }

      .span-search {
        width: 1px;
        height: 30px;
        margin: -3px 0;
        background: rgba(255, 255, 255, 0.1);
      }

      .search-btn {
        padding: 7px 16px 7px 16px;
        margin: -12px -16px;
        cursor: pointer;
        outline: none;
        border: none;
        background: transparent;
        margin-left: 0;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.3);

        &:active {
          background: rgba(255, 255, 255, 0.08);
        }
      }

      &:hover {
        border: 1px solid rgba(255, 255, 255, 0.25);

        .search-btn {
          background-color: rgba(255, 255, 255, 0.1);
          color: rgba(255, 255, 255, 1);
        }
      }

      &:focus-within {
        border: 1px solid rgba(255, 255, 255, 0.25);
      }

      input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
